@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
body {
  font-family: 'Commissioner', sans-serif !important;
}
.App {
  text-align: center;
}
#home, .bg-lte-text, .btn-callToAction2, #contact {
  background-color: #762fcf !important;
}
#fibre {
  background-color: #9244f3 !important;
}
#lte {
  background-color: #f44926 !important;
}
.title, .sub-title {
  font-family: 'Russo One', sans-serif;
}
.sub-title {
  color: #f9b850;
  font-weight: bold;
}
.btn-callToAction {
  background-color: #f44926 !important;
  color: white !important;
}
.btn-nav {
  background-color: white !important;
}
.blob-outline {
  outline: 5px solid red !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
