@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
:root {
  --primary: #762fcf;
}
body {
  font-family: 'Commissioner', sans-serif !important;
}
.App {
  text-align: center;
}
#home, .bg-lte-text, .btn-callToAction2, #contact {
  background-color: #762fcf !important;
}
#fibre, .fibre-section {
  background-color: #9244f3 !important;
}
#lte, .lte-section{
  background-color: #f44926 !important;
}
.title, .sub-title {
  font-family: 'Russo One', sans-serif;
}
.sub-title {
  color: #f9b850;
  font-weight: bold;
}
.btn-callToAction {
  background-color: #f44926 !important;
  /* color: white !important; */
}
.btn-nav {
  background-color: white !important;
}
.blob-outline {
  outline: 5px solid red !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn-callToAction, .btn-callToAction2, .oct {
  box-shadow: -3px 18px 31px -8px rgba(0,0,0,0.69);
-webkit-box-shadow: -3px 18px 31px -8px rgba(0,0,0,0.69);
-moz-box-shadow: -3px 18px 31px -8px rgba(0,0,0,0.69);
}
.card-input-element+.card {
  /* height: calc(36px + 2*1rem); */
  color: var(--primary);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid transparent;
  border-radius: 0px;
}

.card-input-element+.card:hover {
  cursor: pointer;
}

.card-input-element:checked+.card {
  border: 2px solid var(--primary);
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
}

.fa-clickable {
  cursor:pointer;
  outline:none;
}
/* .card-input-element:checked+.card::after {
  content: '\e5ca';
  color: #AFB8EA;
  font-family: 'Material Icons';
  font-size: 24px;
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}
